$fontFamilyPrime: 'Open Sans', sans-serif;
$fontFamilySecond: 'Montserrat Alternates', sans-serif;
$fontFamiliCursive: 'Crafty Girls', italic;
$primeColor: #7683f3;
$primeColorHero: #d7daf3;

$primeColorAboutMe: #5161f7;
$shadowColor: #8691f1;
// $primeColor: #996998;
// $primeColorHero: #dcbadb;

// $primeColorAboutMe: #e2cee5;
// $shadowColor: #946590;

//$titleColors: rgb(199, 203, 238);
$titleColors: black;
$fontSizeTitles: 30px;

$cvPdfBg: #35adb1;