@import '../styles/core/variables';
.aboutMe {
  font-family: $fontFamilyPrime;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr, 1fr, 1fr;
  padding: 1em;
  text-align: center;
  &__title {
    font-size: $fontSizeTitles;
    margin: 100px 0px 0px 0px;
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr, 2fr;
    &__title {
      grid-column: span 7;
    }
  }

  &__allDescription {
    padding: 30px 0px 50px 0px;
    @media (min-width: 768px) {
      margin: 10px;
      grid-column: 1/5;
    }
  }
  &__description {
    text-align: justify;
    margin: 10px;
  }
}
.skill {
  text-align: center;
  margin-bottom: 40px;

  &__list {
    margin-top: 20px;
    list-style-type: none;
    &__item {
      display: inline-block;
      margin: 3px;
      padding: 5px;
      background-color: $primeColorHero;
      border-radius: 10px;
      border: 1px solid $shadowColor;
      box-shadow: 2px 2px $shadowColor;
    }
  }
  @media (min-width: 768px) {
    grid-column: 5/8;
    margin: 10px;
    padding: 30px 0px 70px 0px;
  }
}
.cv {
  margin: 3px 3px 50px 3px;
  padding: 5px;
  background-color: $primeColorHero;
  border-radius: 10px;
  border: 1px solid $shadowColor;
  box-shadow: 2px 2px $shadowColor;
  @media (min-width: 768px) {
    grid-column: 3/6;
  }
  &__download {
    text-decoration: none;
  }
}
