@import '../styles/core/variables';
.aboutMe {
  font-family: $fontFamilyPrime;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  margin: 12px;
  &__description {
    text-align: justify;
    margin: 10px;
  }
}
.skill__list {
  list-style-type: none;
  &__item {
    display: inline-block;
    margin: 3px;
    padding: 5px;
    background-color: rgb(233, 200, 240);
    border-radius: 10px;
  }
}
