@import '../styles/core/variables';
.footer {
  font-family: $fontFamilyPrime;
  background-color: $primeColor;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  &__list {
    &__item {
      list-style-type: none;
      font-size: 18px;
      border: 2px solid $primeColorHero;
      display: inline-block;
      margin: 4px;
      padding: 1px;
      width: 25px;
      text-align: center;
      line-height: 25px;
    }
  }
}
.copy {
  transform: translateY(10px);
}
