@import '../styles/core/variables';
.footer {
  font-family: $fontFamilyPrime;
  background-color: $primeColor;
  font-size: 14px;
  padding-top: 15px;
  // display: flex;
  // justify-content: flex-end;
  height: 30px;
}
.copy {
  margin: 10px;
}
.fa-heart {
  color: $primeColorAboutMe;
}
