@import '../styles/core/variables';

@keyframes intro {
  from {
    transform: scale(2) rotate(-150deg);
    opacity: 0.2;
    color: white;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.hero {
  font-family: $fontFamilyPrime;
  height: 100vh;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 25px 80px 25px;
    @media (min-width: 768px) {
      padding: 70px 150px 80px 150px;
    }
  }
  &__photo {
    margin-top: 30px;
    width: 8em;
    border: 2px solid $primeColor;
    border-radius: 15%;

    background-color: $primeColor;
  }
  &__title {
    margin: 3px;
    font-size: $fontSizeTitles;
    animation-duration: 3s;
    animation-name: intro;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  &__subtitle {
    font-family: $fontFamilySecond;
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__subtitle2 {
    font-size: 20px;
    margin-top: 5px;
  }
  &__info {
    margin-top: 1em;
    text-align: justify;
  }
}
