@import '../styles/core/variables';
.hero {
  font-family: $fontFamilyPrime;
  height: 75%;
  background-color: $primeColorHero;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 50px 50px 50px;
  }
  &__photo {
    margin-top: 30px;
    width: 8em;
    border: 2px solid $primeColor;
    border-radius: 15%;
    background-color: rgb(168, 142, 179);
  }
  &__title {
    margin: 3px;
  }
  &__info {
    margin-top: 1em;
    text-align: justify;
  }
}
