@import '../styles/core/variables';

.projects {
  font-family: $fontFamilyPrime;
  padding: 12px;
  background-color: $primeColorProyects;
  &__list {
    &__item {
      list-style-type: none;
    }
    &__img {
      width: 15rem;
      height: 15rem;
    }
  }
}
