@import '../styles/core/variables';

.projects {
  font-family: $fontFamilyPrime;
  padding: 12px;
  background-color: $primeColorProyects;
  text-align: center;
  padding: 1em;

  &__title {
    margin: 1em;
    font-size: $fontSizeTitles;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // @media (min-width: 768px) {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    // }
    // @media (min-width: 1200px) {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    &__item {
      border: 1px solid $shadowColor;
      box-shadow: 2px 2px $shadowColor;
      border-radius: 15px;
      list-style-type: none;
      padding: 1em;
      margin: 1em;
    }
    &__title {
      width: 15rem;
      margin: auto;
      padding: 10px 0 0 0;
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      color: $titleColors;

      @media (min-width: 768px) {
        width: 20rem;
      }
    }
    &__img {
      width: 15rem;
      height: 15rem;
      &:hover {
        box-shadow: 3px 3px purple;
        transform: scale(1.02);
      }
    }

    &__icon {
      display: inline-block;

      padding-left: 10px;
      height: 10px;
      &:hover {
        transform: scale(1.7);
      }
    }
    &__comment {
      text-align: justify;
      margin: auto;
      width: 15rem;
      padding: 15px;
    }
  }
}
.tags {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background-color: $primeColorAboutMe;
  border-radius: 10px;
  border: 1px solid $shadowColor;
  box-shadow: 2px 2px $shadowColor;
  font-size: 10px;
}
